
<div class="inner-page padd">
  <section id="cart_items">
    <div class="container">
      <% if  @cart_items.blank? && @saved_cart_items.empty? %>
        <h2 > Nothing in cart</h2>
      <% elsif  @cart_items.blank? %>
        <h2>Kuch nhi bhau isme ...pura khali hai .. </h2>
        <div> <h3>Hello add items saved for later</h3> </div>
      <% end %>
  <% unless @cart_items.blank? %>
    <%= form_for session_cart, url: shopping_cart_item_path(session_cart), html: {class: 'form-group'}, :as => :cart do |cart_form| %>
          <div class="table cart_info">
            <table class="table table-condensed">
              <thead>
                <tr class="cart_menu">
                  <td class="image">Item</td>
                  <!-- <td class="description"></td> -->
                  <td class="price">Price</td>
                  <td class="quantity">Quantity</td>
                  <td class="total">Total</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <% @cart_items.each_with_index do |item, i| %>
                  <%= cart_form.fields_for :shopping_cart_items, item do |cart_items_form| %>
                    <%= render :partial => 'cart_item', :locals => {:cart_items_form => cart_items_form, :item => item, :i => i }%>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
            <% unless @cart_items.blank? %>
              <%= cart_form.submit 'update', :class => 'btn btn-danger' %>
              <%= cart_form.submit 'checkout', {:checkout => 1, :class => 'btn btn-primary'} %>
              <div class="clear"></div>
            <% end %>
    <% end %>
  <%end%>
        </div>
      </section> <!--/#cart_items-->
</div>
