<!-- Banner Start -->
<div class="banner padd">
  <div class="container">
    <!-- Image -->
  
    <%= image_tag "crown-white.png",class: 'img-responsive'%>
    <!-- Heading -->
    <h2 class="white">Cart</h2>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Cart</li>
    </ol>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Banner End -->
       
<div class="inner-page padd">
  <% if  @cart_items.blank? && @saved_cart_items.empty? %>
    <h2 > Nothing in cart</h2>
  <% elsif  @cart_items.blank? %>
    <h2>Kuch nhi bhau isme ...pura khali hai .. </h2>
    <div> <h3>Hello add items saved for later</h3> </div>
  <% end %>

  <% unless @cart_items.blank? %>
    <%= form_for session_cart, url: shopping_cart_item_path(session_cart), html: {class: 'form-group'}, :as => :cart do |cart_form| %>
      <section id="cart_items">
        <div class="container">
          <div class="table-responsive cart_info">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td>Item</td>
                  <td >Description</td>
                  <td>Price</td>
                  <td>Quantity</td>
                  <td>Total</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <% @cart_items.each_with_index do |item, i| %>
                  <%= cart_form.fields_for :shopping_cart_items, item do |cart_items_form| %>
                    <%= render :partial => 'cart_item', :locals => {:cart_items_form => cart_items_form, :item => item, :i => i }%>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
            <% unless @cart_items.blank? %>
              <%= cart_form.submit 'update', :class => 'btn btn-danger' %>
              <%= cart_form.submit 'checkout', {:checkout => 1, :class => 'btn btn-primary'} %>
              <div class="clear"></div>
            <% end %>
        </div>
      </section> <!--/#cart_items-->
    <% end %>
  <%end%>
</div>