<% if @cart_items && cart_properties['items_count'] > 0 %>
	<ul class="cart-dropdown" role="menu">
		<% @cart_items.each do |food_id,qty|%>
			<% food = Food.find(food_id)%>
				<!-- Cart items for shopping list -->
				<div class="cart-item">
					<!-- Item remove icon -->
					<!-- <a href="#"><i class="fa fa-times"></i></a> -->
		             <%=link_to "" , data: {targetUrl: cart_item_delete_path(food.id)} do%>
	                  <i class="fa fa-times"></i>
	                <%end%>
					<!-- Image -->
					<%= image_tag food.food_image.url, :class => "img-responsive img-rounded",:alt => ""%>
					<!-- Title for purchase item -->
					<span class="cart-title" ><a href="#"><%= food.name%></a> (<%= qty%>)</span>
					<!-- Cart item price -->
					<span class="cart-price pull-right red">$<%= food.price * qty%>/-</span>
					<div class="clearfix"></div>
				</div>
			</li>
		<%end%>
			<!-- Cart items for shopping list -->
			<div class="cart-item">
				<%= link_to 'Checkout',shopping_orders_path	,class: 'btn btn-danger'%>									
			</div>

	</ul>
	<div class="clearfix"></div>
<%end%>