<h1>Order Summary</h1>	
    <div id='order-items-summary'>
      <% i = 1 %>
      <% @order.order_items.each do | items| %>
        <div id='order-item-<%= i %>' class='panel'>
          <%= render :partial => 'order_item', :locals => {:items => items } %>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
       </div>
      <div id='final-order-shipping-address'  >
        <div class='panel'>
          <h5>Shipping Address</h5>
          <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
          <%= link_to 'Change address', shopping_addresses_path, :class => 'button tiny green' %>
        </div>
      </div>
      <div id='final-order-shipping-address' >
        <div class='panel'>
          <h5>Billing Address</h5>
          <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} %>
          <%= link_to 'Change address', shopping_billing_addresses_path, :class => 'button tiny green' %>
        </div>
      </div>

  </div>

    <div class='pretty_table five large-5 columns last'>
    <table>
      <thead>
        <tr class='odd'>
          <th class='column1_header'>
            Item
          </th><th>Price:</th><th>Price + Tax</th>
        </tr>
      </thead>
      <% @order.order_items.each do |item| %>
        <tr class='<%= cycle("odd", "")%> '>
          <td><%= item.variant.product.name %></td><td><%= number_to_currency item.price %></td><td><%= number_to_currency item.total %></td>
        </tr>
      <% end %>
      <tr class='odd'>
        <td></td><td>Sub-total:</td><td><%= number_to_currency @order.sub_total %></td>
      </tr>
      <tr>
        <td></td><td>Tax:</td><td><%= number_to_currency @order.taxed_amount %></td>
      </tr>

    </table>
    <div>
  </div>