<!DOCTYPE html>
<html>
<head>
  <title>Demo_rails</title>
  <%= stylesheet_link_tag "application" %>

  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'application' %>


  <%= yield :head %>
</head>
<body>
<div class="container">
	<%= yield %>
<%= yield :bottom %>	

</div>
</body>
<%= yield :below_body %>
</html>
