<!DOCTYPE html>
<html>
<head>
  <title>Demo_rails</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<%= render 'shared/header'%>
		<%= yield %>
		<%= render 'shared/footer'%>
	</div>

  <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
       	 toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
  <% end %>	
  
  <script type="text/javascript">
    if(Cookies.get('prepare') != 'seen'){
      Cookies.set('prepare','seen',{ expires: 365, path: '/' })
      $(document).ready(function(){
        $("#myModal").modal('show');
      });
    }
  </script> 
</body>
</html>
